#para1
{
    font-size: 30px;
    font-family: Gabriola;
    margin: 20px;
    border:ivory;
    padding: 20px;
    text-align: justify;
color:rgb(218, 165, 32);
}
h2
{
    font-family: Ink Free;
    color: black;
    text-shadow: black;
    font-size: 50px;
    border-bottom:3px solid black;
}

