app.component.css

h1
{
font-size:100px;
text-align:center;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
border-top:3px solid black;
border-bottom:3px solid black;
color:white;
background-image: url("C:\Users\DELL\Restaurant\src\assets\Images\background-rest-img.png");
margin-top: auto;
background-position: left center ;
text-shadow: 10px 5px blue;
}

h4
{
 font-family: Cambria;
 font-size: 20px;
 color:indigo;
 font-weight: 100;
}

home-page.component.css

#para2
{
background-image: url("C:\Users\DELL\Restaurant\src\assets\Images\background-rest-img.png");
background-blend-mode:soft-light;
background-repeat: no-repeat;
background-position: bottom ;
background-size: cover;
font-family:Edwardian Script ITC;
text-align:center;
color:white;
font-size:100px;
text-shadow: 3px 3px black;
}
h2
{
font-size:50px;
text-align:left;
font-family:Ink Free;
text-shadow: 3px 2px white;
color: darkred;
border-bottom:3px solid black;
}

h3
{
font-size:30px;
font-family:MV Boli;
}

.grid
{
    margin:2px;
    background-color: aliceblue;
    min-height:100px;
}

#para3
{
    background-image: url("C:\Users\DELL\Restaurant\src\assets\Images\Dennis-The-Prescott.png");
    background-position: center;
    background-size: 500px;
    background-repeat: no-repeat;
}
